

body{
    margin: unset;
    width: 100%;
}

header{
    background-color: teal;
    text-align: center;
    margin: unset;
}

h1{
    margin: inherit;
}

nav{
    margin: unset;
}

nav button{
    border: none;
    margin: inherit;
    width: 49%;
    text-align: center;
    font-size: x-large;
}

nav button:hover{
    color: turquoise;
}

ul{
    width: max-content;
    max-width: 90%;
    list-style-type: decimal;
}

a{
    text-decoration: none;
    color: inherit;
}



ul li{
    line-height: 1.2;
    margin-top: 1.5%;
    background-color: lavender;
    font-size: large;
}

ul li:hover{
    background-color: rgb(173, 173, 241);
}

#upload_arquivos{
    text-align: center;
}

.invisivel{
    display: none;
}

.visivel{
    display: block;
}
